<div class="jumbotron">
    <div class="container">

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">

                <h1>Welcome</h1>

                <br>
                <h2>Real time Location loader Webapp</h2>
                <br>
                <h3>This webapp is primarily focused to locate the current location of users as soon as they are registered through this webapp</h3>
                <img src="./../../assets/image2.00_png_srz">
            </div>

            <div class="col-sm-3"></div>
        </div>
    </div>
</div>