<div class="container-fluid">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <h4>Recent Logged In users</h4>
            </div>
            <div class="col-sm-6">
                <h4>Location in world map</h4>
            </div>
            <div class="col-sm-4">
                <h4>Details of all users</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-2">
                <div class="row" id="col1">
                    <div *ngFor="let info of this.arra">
                        <div class="jumbotron">
                            <img src={{info.dp}} height="100px" width="100px" alt="Nothing to display">
                            <div class="conatiner">
                                <br>
                                <div class="row">
                                    <div class="col-sm-4"><b>Name:</b></div>
                                    <div class="col-sm-8">{{info.name}}</div>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Gender:</b></div>
                                    <div class="col-sm-8">{{info.gender}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5"><b>Location:</b></div>
                                    <div class="col-sm-7">{{info.city}},{{info.country}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>Locale:</b></div>
                                    <div class="col-sm-8">{{info.locale}}</div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4"><b>TimeZone:</b></div>
                                    <div class="col-sm-8">&emsp;{{info.timezone}}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" id="col2">
                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Location</th>
                                    <th>TimeZone</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let info of this.info">
                                    <td>{{info.name}}</td>
                                    <td>{{info.gender}}</td>
                                    <td>{{info.city}},{{info.country}}</td>
                                    <td>{{info.timezone}}&nbsp;GMT</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>